footer{
  padding:1rem;
  background: #2423239c
}
footer a {
  text-decoration: none;
  color: #eee;
}
footer a:hover {
  text-decoration: underline;
}
/* Footer social */
.ft-social {
  padding: 0;
}
.ft-social-list {
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
#main-icon {
  margin: 0 2rem;
  transform: translate(0px, 0px) rotateZ(0deg) scale(170%, 170%);
  opacity: 0.6;
  transition-duration: 0.5s;
  animation-name: none;
}
#main-icon:hover {
  opacity: 1;
  animation: logoani 1s ease 0s 1;
}
@keyframes logoani {
  0%{
      transform: translate(0px, 0px) rotateZ(0deg) scale(170%, 170%);
  }
  20%{
      transform: translate(0px, 0px) rotateZ(10deg) scale(170%, 170%);
  }
  40%{
      transform: translate(0px, 0px) rotateZ(350deg) scale(270%, 270%);
  }
  50%{
      transform: translate(0px, 0px) rotateZ(350deg) scale(270%, 270%);
  }
  60%{
      transform: translate(0px, 0px) rotateZ(370deg) scale(230%, 230%);
  }
  70%{
      transform: translate(0px, 0px) rotateZ(355deg) scale(200%, 200%);
  }
  80%{
      transform: translate(0px, 0px) rotateZ(365deg) scale(190%, 190%);
  }
  90%{
      transform: translate(0px, 0px) rotateZ(357deg) scale(180%, 180%);
  }
  95%{
      transform: translate(0px, 0px) rotateZ(362deg) scale(170%, 170%);
  }
  100%{
      transform: translate(0px, 0px) rotateZ(360deg) scale(170%, 170%);
  }
}
/* Footer legal */
.ft-legal {
  padding: 0rem;
}
#ft-p-copy {
  font-size: 1rem;
}