.main-parent{
    color:white;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: Didot, serif;
    background-color: #5f288a;
    opacity: 0.9;
    text-align: left;
    font-size:2vw;
    padding:2rem;
    border-radius:10px;
    height:50%; 
    /* margin: 9rem 4rem 2rem 0; */
    margin-top:7rem;
    width:45%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


@media  (max-width: 1100px) {
   .home-info{ 
       width:80%;
       font-size:4vw;
       margin: 2rem 0 2rem 5rem;
   }
} 


@media  (max-width: 900px) {
   .home-info{ 
       width:80%;
       font-size:4vw;
       margin: 2rem 4rem 2rem 5rem;
   }
 }

 @media (max-width: 600px) {
   .home-info{ 
      margin-top: 0;
      margin-right: 3rem;
      margin-left: 3rem;
   }
} 